Body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    color: white;
    padding-top: 100px;
}

.section-1 p {
    font-size: 20px;
    color: white;
}

.section-1 {
    text-align: center;
    background-image: url(images/background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

button {
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(orange, red);
    padding: 20px 20px;
    border: 5px;
    font-weight: 900;
}

.section-2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.donate-amount {
    display: inline-flex;
    column-gap: 50px;
    padding-left: 100px;
    width: 50%;
    text-align: center;
    box-shadow: 10px 10px 30px whitesmoke;
}

h2 {
    font-size: 40px;
}

h3 {
    padding: 10px;
    background: wheat;
}

#highlighted-amount {
    background-color: darksalmon;
    border: 2px solid red;
}

hr {
    width: 50%;
}

.donate-plan {
    text-align: center;
    margin-top: 50px;

}

#float-box {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;

}

.left-box {
    float: left;
    background: skyblue;
    width: 30%;
    height: 300px;
    padding: 20px;

}

.middle-box {
    float: middle;
    background: pink;
    width: 30%;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
}

.right-box {
    float: right;
    background: cornsilk;
    width: 30%;
    height: 300px;
    padding: 20px;
}

#float-box p {
    text-align: left;
    color: gray;
    font-size: 15px;
    font-weight: 300;
}

h4 {
    font-size: 25px;
}

.section-4 {
    display: flex;
    padding-left: 100px;
    padding-right: 200px;
    padding-bottom: 100px;
}

.section-4 img {
    width: 70%;
    padding-left: 100px;
}

.section-5 img {
    width: 80%;
    padding-top: 50px;
}

.section-5 {
    display: flex;
    padding-left: 100px;
    padding-right: 300px;
    padding-bottom: 100px;
}

.half-width {
    width: 50%;
    text-align: left;
}

#flexible-content {
    padding-left: 100px;
    padding-right: 100px;
}